@tailwind base;
@tailwind components;
@tailwind utilities;

.video-thumbnail {
  max-height: 200px;
  width: 100%;
  background-color: grey;
}

.channel-avatar {
  max-width: 52px;
  max-height: 52px;
}

.views-separator ::before {
  content: " • ";
}
